footer {
  padding: 2rem;
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
  display: flex;
  flex-direction: row;
}

.footer .default-content-wrapper {
  display: flex;
}
ul:before{
  content:attr(aria-label);
  font-size:120%;
  font-weight:bold;
  margin-left:-15px;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li a {
  color: #fff;
}